@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style>
        .btn:focus, .btn:active, button:focus, button:active {
            outline: none !important;
            box-shadow: none !important;
        }

        #image-gallery .modal-footer {
            display: block;
        }

        .thumb {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        #tab-page-crimeIncidentReportMedia img,
        #tab-page-crimeIncidentReportMedia video {
            width: 100%;
        }

        .no-view-access {
            display: flex;
        }

        .pmd-tabs nav-tabs li.active a {
            border-bottom: 3px #9d0033 solid !important;
        }

        .hidden {
            display: none !important;
        }
    </style>
}
<!--breadcrum start-->
<ol class="breadcrumb text-left">
    @if (ViewBag.Page.ParentName != null)
    {
        <li><a href="/@ViewBag.Page.ParentName/">@ViewBag.Page.ParentTitle</a></li>
    }
    <li>
        @ViewBag.Page.Title
    </li>
</ol><!--breadcrum end-->

<div class="row ">
    <!-- table card code and example -->
    <div class="col-md-12">
        <div class="component-box">
            <!-- table card example -->
            <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text">@ViewBag.Page.Title</h2>
                </div>
                <div class="pmd-card-body">
                    <div id="appointmentDetailsContainer" class="group-fields clearfix row">
                        <div class="col-xs-12">
                            <div id="appointmentStatusView"></div>
                            <br />
                            <div id="appointment-tab-control" class="pmd-tabs pmd-tabs-bg">
                                <ul id="appointment-details-tab-nav" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active tab-control-appointment"><a id="tab-control-appointment" href="#tab-page-appointment" aria-controls="tab-appointment" role="tab" data-toggle="tab">Appointment</a></li>
                                    <li role="presentation" class="hidden tab-control-diagnosis"><a id="tab-control-diagnosis" href="#tab-page-diagnosis" aria-controls="tab-diagnosis" role="tab" data-toggle="tab">Diagnosis & Treatment</a></li>
                                </ul>
                            </div>
                            <div class="pmd-card-body">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab-page-appointment">
                                        <div class="clearfix row">
                                            <div id="appointmentDetailsView" class="col-xs-12"></div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab-page-diagnosis">
                                        <div class="group-fields clearfix row">
                                            <div class="col-xs-12">
                                                <table id="table-diagnosis" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Id</th>
                                                            <th>Date Diagnosed</th>
                                                            <th>Diagnosis</th>
                                                            <th>Treatment</th>
                                                            <th>Status</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="appointmentNotFoundContainer" class="group-fields clearfix row hidden">
                        <div class="col-xs-12">
                            <div class="pmd-card-body">
                                <div style="display:flex!important;align-items: center;flex-direction:column;">
                                    <h3 style="text-align:center">Not authorize to view appointment details</h3>
                                    <a href="/Admin/Appointments/" class="btn pmd-ripple-effect btn-default" style="max-width:200px!important" data-toggle="tooltip" data-placement="left" title="View details">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- table card example end -->

        </div>
    </div>
</div>


@section Scripts{


    @Html.Partial("~/Views/Widget/_Modal.cshtml")

    <script src="~/Scripts/Controller/MyAppointments-Details.js"></script>
    <script>
        var model = @Html.Raw(Json.Encode(ViewBag.AppSettings));
        appointmentDetails.init(model);
    </script>

    <script id="diagnosis-template" type="text/x-jsrender">
        <form id="form-diagnosis">
            <div class="group-fields clearfix row">
                <div class="col-xs-4">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                        <label for="DiagnosisDate" class="control-label">Date Diagnosed</label>
                        <input readonly type="text" id="DiagnosisDate" name="DiagnosisDate" data-link="{formatDate:DiagnosisDate}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="group-fields clearfix row">
                <div class="col-xs-12">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="DescOfDiagnosis" name="DescOfDiagnosis" data-link="DescOfDiagnosis" placeholder=" " />
                        <span>Description of the Diagnosis</span>
                    </label>
                </div>
            </div>
            <div class="group-fields clearfix row">
                <div class="col-xs-12">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="DescOfTreatment" name="DescOfTreatment" data-link="DescOfTreatment" placeholder=" " />
                        <span>Description of the Treatment</span>
                    </label>
                </div>
            </div>
        </form>
    </script>

    <script id="appointment-status-template" type="text/x-jsrender">
        <div class="group-fields clearfix row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h4>Appointment Status</h4>
                    {^{if IsPending}}
                    <span class="badge badge-warning" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                    {{/if}}
                    {^{if IsProcessed}}
                    <span class="badge badge-warning" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                    {{/if}}
                    {^{if IsApproved}}
                    <span class="badge badge-info" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                    {{/if}}
                    {^{if IsCompleted}}
                    <span class="badge badge-success" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                    {{/if}}
                    {^{if IsCanceled}}
                    <span class="badge badge-error" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                    {{/if}}
                    {^{if IsDeclined}}
                    <span class="badge badge-error" style="padding: 10px" data-link="text{:AppointmentStatusName}"></span>
                    {{/if}}
                </div>
            </div>
        </div>
    </script>

    <script id="appointment-details-template" type="text/x-jsrender">
        <form id="form-appointment">
            <div class="group-fields row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="AppointmentId" name="AppointmentId" data-link="AppointmentId" />
                        <span>AppointmentId</span>
                    </label>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="AppointmentDate" name="AppointmentDate" data-link="{formatDate:AppointmentDate}" placeholder=" " />
                        <span>Appointment Date</span>
                    </label>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="AppointmentTime" name="AppointmentTime" data-link="AppointmentTime" placeholder=" " />
                        <span>Appointment Time</span>
                    </label>
                </div>
            </div>
            <div class="group-fields row">
                <div class="col-xs-4">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="DateSymtomsFirstNoted" name="DateSymtomsFirstNoted" data-link="{formatDate:DateSymtomsFirstNoted}" placeholder=" " />
                        <span>Date symtoms first noted</span>
                    </label>
                </div>
            </div>
            <div class="group-fields row">
                <div class="col-xs-12">
                    <label class="form-group pure-material-textfield-outlined">
                        <input readonly id="PrimaryReason" name="PrimaryReason" data-link="PrimaryReason" placeholder=" " />
                        <span>Primary Reason</span>
                    </label>
                </div>
            </div>
            <div class="group-fields clearfix row">
                <div class="col-xs-12">
                    <label class="form-group pure-material-textfield-outlined">
                        <textarea readonly id="DescOfCharOfSymtoms" name="DescOfCharOfSymtoms" data-link="DescOfCharOfSymtoms" placeholder=" "></textarea>
                        <span>Description of characteristics of the symtoms</span>
                    </label>
                </div>
            </div>
            <br />
        </form>
    </script>

}