@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title -->
<h1 class="section-title" id="services"><span>@ViewBag.Page.Title</span></h1>
<!-- End Title -->
<!--breadcrum start-->
<ol class="breadcrumb text-left">
    <li>
        @ViewBag.Page.Module
    </li>
    @if (ViewBag.Page.ParentName != null)
    {
        <li><a href="@ViewBag.Page.ParentName">@ViewBag.Page.ParentTitle</a></li>
    }
    <li>
        @ViewBag.Page.Title
    </li>
</ol><!--breadcrum end-->

<div class="row ">
    <!-- table card code and example -->
    <div class="col-md-12">
        <div class="component-box">
            <!-- table card example -->
            <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text">@ViewBag.Page.Title</h2>
                </div>
                <div class="pmd-card-body">
                    @Html.Partial("_Table")
                </div>
            </div>
            <!-- table card example end -->

        </div>
    </div>
    <!-- table card code and example end -->
    <div class="custom-floating-action">
        <button id="btnDelete" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary">
            <i class="material-icons pmd-sm">delete</i>
        </button>
        <button id="btnEdit" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary">
            <i class="material-icons pmd-sm">edit</i>
        </button>
        <button id="btnAdd" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary">
            <i class="material-icons pmd-sm">add</i>
        </button>
    </div>
</div>


@Html.Partial("~/Views/Widget/_Modal.cshtml")

@section Scripts{
    <script src="~/Scripts/Controller/ItemType.js"></script>

    <script id="itemType-template" type="text/x-jsrender">
        <form id="form-itemType">
            <div class="group-fields clearfix row">
                <div class="col-xs-4">
                    <label data-link="visible{:!IsNew}" class="form-group pure-material-textfield-outlined">
                        <input id="ItemTypeId" disabled name="ItemTypeId" data-link="ItemTypeId" placeholder=" " />
                        <span>ItemTypeId</span>
                    </label>
                </div>
            </div>
            <div class="group-fields clearfix row">
                <div class="col-xs-12">
                    <label>Icon</label>
                    <div class="form-group pure-material-textfield-outlined">
                        <div class="row">
                            <div class="col-xs-3">
                                <img id="img-upload" data-link="src{:IconFile.FileData}" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary pmd-card pmd-z-depth pmd-card-custom-view" style="width: 100px;height: 100px;display: block;" class="" />
                            </div>
                        </div>
                        <br />
                        <label type="button" class="btn pmd-ripple-effect btn-primary" for="IconFilePicker"> UPLOAD IMAGE </label>
                        <input type="file" class="hidden" id="IconFilePicker" name="IconFilePicker" data-link="IconFilePicker">
                    </div>
                </div>
            </div>
            <div class="group-fields clearfix row">
                <div class="col-xs-12">
                    <label class="form-group pure-material-textfield-outlined">
                        <input id="ItemTypeName" name="ItemTypeName" data-link="ItemTypeName" placeholder=" " />
                        <span>Item Type Name</span>
                    </label>
                </div>
            </div>
            <div class="group-fields clearfix row">
                <div class="col-xs-12">
                    <label class="form-group pure-material-textfield-outlined">
                        <input id="ItemTypeDescription" name="ItemTypeDescription" data-link="ItemTypeDescription" placeholder=" " />
                        <span>Item Type Description</span>
                    </label>
                </div>
            </div>
        </form>
    </script>
    <script>
        itemType.init();
    </script>
}